@import 'fonts.css';

:root {
    --rb: 'Roboto Bold';
    --rr: 'Roboto Regular';
    --rl: 'Roboto Light';
    --ttf: 'TTF';
    --blue: #0D0D5B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--ttf);
}

img {
    object-fit: contain;

}

.respons {
    display: none;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container__fluid {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.pink {
    color: #F11D4F;
}

.blue {
    color: #0A54C4;
}

.yellow {
    color: #EFB238;
}

.green {
    color: #01A424;
}

.violet {
    color: #B30196;
}

.white_back {
    background: white !important;
}

.black {
    background: black !important;
}



/* Header */
.header {
    height: 90vh;
}

.header__logo-block {
    position: relative;
    max-width: 141px;
    width: 100%;
    height: 35px;
    margin-right: 80px;
}

.header__logo-img-default {
    width: 100%;
}

.header__logo-img-white {
    width: 100%;
    opacity: 0;
}

.header__logo {
    position: absolute;
    top: 0
}

.header__head {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    height: 86px;
    width: 100%;
    transition: .3s;
    z-index: 999;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 26px;
}

.header__content-video {
    width: 100%;
}

.header__logo-others {
    width: 50%;
}

.header__close-icon {
    opacity: 0;
}

.header__content-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__burger {
    display: none;
}


.header__content-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.header__content-links {
    margin-left: 36px;
    color: white;
    transition: all .5s;
}


.header__content-info {
    display: flex;
}

.header__content-p {
    margin-right: 40px;
    color: white;
    transition: .5s;
}

.header__content-lang {
    display: none;
}


.header__content-join {
    color: black;
    background: white;
    padding: 12px 26px;
    border-radius: 8px;
    transition: all .5s;
}

.header__content-join:hover {
    color: black;
    background: rgb(133, 132, 132);
}

.header__close {
    display: none;
}

/* main */

.main {
    margin-top: 88px;
}

/* about */

.about {
    margin-top: 20%;
}

.about__content-right img {
    max-width: 581px;
    width: 100%;
    max-height: 665px;
    height: 100%;
}

.about__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__content-left {
    width: 550px;
    position: relative;
}

.about__content-img {
    background: url(../img/h2__logo\ background.png) no-repeat;
    height: 135px;
}

.about__content-img-connect {
    background: url(../img/h2__logo\ background.png) no-repeat;
    height: 135px;
    width: 60%;
    margin-top: 40px;
    padding-left: 40px;
    z-index: 99999;
}

.h2__logo {
    display: block;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 15px;
}

.h2__logo-start {
    display: block;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-top: 45px;
    padding-left: 10px;
    width: 240px;

}

/* .h2__background{
    position: absolute;
    top: -20px;
    left: 10px;
} */

.about__content-text {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
}

.about__content-block {
    display: flex;
    margin-top: 37px;
}

.about__content-items {
    margin-left: 85px;
}

.about__content-items:first-of-type {
    margin-left: 0;
}

.about__content-number {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
}



/* lesson */

.lesson {
    margin-top: 124px;
    margin-bottom: 100px;
}

.lesson__right img {
    max-width: 42px;
    width: 100%;
}

.lesson__left img {
    max-width: 672px;
    width: 100%;
}

.lesson__content-slider {
    display: flex;
}

.lesson__content {
    background: rgba(236, 184, 0, 0.1);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lesson__content-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 420px;
}

.lesson__right {
    padding-left: 66px;
}

.lesson__right img {
    margin-bottom: 30px;
}

.lesson__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--blue);
    margin-bottom: 11px;
    margin-top: 28px;
}

.lesson__text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    width: 397px;
    margin-bottom: 28px;
}

.lesson__btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    background: var(--blue);
    padding: 14px 28px;
    color: white;
    border-radius: 10px;
    margin-bottom: 60px;
}



/* start */


.start__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start__content-head {
    display: flex;
    align-items: center;
}

.start__content-img {
    width: 20px;
}

.start__content-title {
    display: flex;
    align-items: center;
    margin-left: 32px;
    padding: 12px 20px;
    background: #F9F9F9;
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-sizing: border-box;
    border-radius: 48px;
}

.start__content-title-p {
    margin-left: 9px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0D0D5B;
}

.start__content-arrow {
    display: flex;
    background: #F9F9F9;
    border: 1px solid rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 28px;
}

.start__content-arrow:hover {
    cursor: pointer;
}

.start__content-arrow-p {
    margin-right: 8px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #000000;
}

.img__progress {
    max-width: 1200px;
    width: 100%;
}

.start__progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.start__top-items {
    border-radius: 8px;
    padding: 24px 30px 20px 20px;
    float: left;
    margin-bottom: 30px;
    margin-left: 66px;
    width: 400px;
    position: relative;
}

.start__top-items:first-of-type {
    background: rgba(241, 29, 79, 0.1);
    margin-top: 70px;
}

.start__top-items:first-of-type::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -17%;
    left: 48%;
    background: url('../img/pink.png') no-repeat;
}




.start__top-items:nth-of-type(2) {
    background: rgba(10, 84, 196, 0.1);
}

.start__top-items:nth-of-type(2)::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -17%;
    left: 28%;
    background: url('../img/blue.png') no-repeat;

}




.start__progress-bottom {
    margin-top: 30px;
    float: left;
}

.start__bottom-items {
    border-radius: 8px;
    padding: 24px 30px 20px 20px;
    float: left;
    margin-bottom: 20px;
    margin-left: 58px;
    width: 400px;
    position: relative;
    margin-top: 30px;
}

.start__bottom-items:first-of-type {
    background: rgba(239, 178, 56, 0.1);
    margin-top: 200px;
}

.start__bottom-items:first-of-type::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10%;
    left: 48%;
    background: url('../img/yellow.png') no-repeat;
}



.start__bottom-items:nth-of-type(2) {
    background: rgba(1, 164, 36, 0.1);
    margin-top: 100px;
}

.start__bottom-items:nth-of-type(2)::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10%;
    left: 35%;
    background: url('../img/green.png') no-repeat;
}


.start__bottom-items:nth-of-type(3) {
    background: #f8e2f6;
}

.start__bottom-items:nth-of-type(3)::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10%;
    left: 22%;
    background: url('../img/violet.png') no-repeat;

}




.start__items-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.01em;
}


.start__items-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-top: 7px;
    opacity: 0.6;
}

.start__items-foot {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-top: 12px;
}

.start__link {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 70px;

}

.start__btn {
    background: var(--blue);
    padding: 14px 28px;
    color: white;
    border-radius: 10px;
}



/* rocket */

.rocket__top-items {
    background: rgba(10, 84, 196, 0.1);
    border-radius: 8px;
    padding: 24px 30px 20px 20px;
    float: left;
    margin-left: 66px;
    width: 400px;
    position: relative;
}

.rocket__top-items::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -17%;
    left: 33%;
    background: url('../img/blue.png') no-repeat;

}

.rocket__bottom-items {
    border-radius: 8px;
    padding: 24px 30px 20px 20px;
    margin-bottom: 30px;
    float: left;
    margin-left: 66px;
    width: 400px;
    position: relative;
}



.rocket__bottom-items:first-of-type {
    background: rgba(1, 164, 36, 0.1);
    margin-top: 100px;
}

.rocket__bottom-items:first-of-type::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10%;
    left: 17%;
    background: url('../img/green.png') no-repeat;
}

.rocket__bottom-items:last-of-type {
    background: rgba(179, 1, 150, 0.1);
}

.rocket__bottom-items:last-of-type::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10%;
    left: 54%;
    background: url('../img/violet.png') no-repeat;
}

.rocket__link {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 140px;
}

/* main__form */

.main__form {
    background: var(--blue);
    padding-bottom: 70px;
    position: relative;
}


.main__form-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
    padding-top: 86px;
}

.form__text {
    font-size: 20px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
    margin-top: 8px;
    opacity: 0.6;
}

.form__inputs-first {
    padding: 17px 196px 16px 24px;
    background: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}

.form__inputs-second {
    padding: 17px 114px 16px 24px;
    background: transparent;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 12px;
    margin-top: 40px;
    color: white;
}

.main__form-img-first,
.main__form-img-second {
    max-width: 141px;
    width: 100%;
}

.form__btn {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #0D0D5B;
    background: white;
    padding: 13px 32px;
    border: none;
    border-radius: 8px;
    margin-left: 24px;
    cursor: pointer;
    margin-bottom: 50px;

}

.main__form-img-first {
    position: absolute;
    left: 74px;
    top: 105px;
}

.main__form-img-second {
    position: absolute;
    right: 57px;
    top: 9px;
}

/* footer */


.footer {
    padding-top: 130px;
}

.footer__imgs img {
    margin-left: 15px;
    width: 20px;
    height: 20px;
    margin-top: 38px;
    margin-bottom: 35px;
}

.footer__imgs img:first-of-type {
    margin-left: 0;
}

.footer__logo {
    max-width: 124px;
    width: 100%;
}


.footer__logo-title {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    opacity: 0.2;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__content-blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 35px;
}

.footer__content-item {
    flex-direction: column;
}

.footer__content-item-title {
    margin-bottom: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
    opacity: 0.3;

}

.footer__content-item li a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    color: black;
}

.footer__content-item li {
    margin-top: 16px;
    width: 137px;
}

.footer__content-item li:first-of-type {
    margin-top: -16px;
}

.third {
    margin-bottom: 20px;
}

.footer__content-info {
    display: flex;
}

.top {
    margin-top: 10px;
}

.top img {
    width: 20px;
}

.bottom img {
    width: 20px;
}



.bottom:first-of-type {
    margin-top: 25px;
}

.bottom {
    margin-top: 25px;
    width: 266px;
}

.footer__content-info:last-of-type {
    margin-top: 11px;
}

.footer__content-info img {
    margin-right: 5px;
}



/* ****************** */
/* KURS PAGE */



.kurs__header__content-links {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #000000;
    margin-left: 36px;
}

.kurs__header__content-p {
    color: black;
    margin-right: 40px;
    transition: .5s;
}

/* Main */

.head {
    margin-bottom: 100px;
}

.kurs__main-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}

.kurs__main-img {
    max-width: 590px;
    width: 100%;
}


.main__head-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--blue);
    max-width: 565px;
    width: 100%;
    letter-spacing: -0.02em;
}

.main__head-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;
    max-width: 400px;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 32px;
}

.main__head-button-block {
    display: inline-block;
    padding: 12px 23px 12px 24px;
    background: var(--blue);
    border-radius: 8px;
}

.main__head-button-opt {
    display: flex;
}

.main__head-btn {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: white;
    border: none;
    background: none;
    margin-right: 12px;
}

/* start */

.kurs__start {
    margin-top: 105px;
}

.start__content-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    width: 875px;
    margin-top: 30px;
}

.kurs__start-text {
    width: 875px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 30px;

}

.start__kurs {
    margin-bottom: 85px;
}



/* kurs list */

.kurs__list-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.kurs__list-content {
    margin-top: 40px;
}

.kurs__list-h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--blue);
}

.kurs__list-p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    opacity: 0.5;
    max-width: 898px;
    width: 100%;
}

.kurs__list-btns {
    display: flex;
    color: #F44516;
}

.kurs__list-btn {
    margin-left: 16px;
    padding: 9px 18px;
    background: rgba(244, 69, 22, 0.1);
    border-radius: 21px;
}

.kurs__list-btn:first-of-type {
    margin-left: 0;
}


.arrow {
    font-size: 30px;
    transform: rotate(220deg);
}

.arrow:hover {
    color: white;
}

.kurs__list-content-right a {
    border: 1px solid black;
    border-radius: 50%;
    padding: 24px;
    cursor: pointer;
    color: black;
    width: 24px;
    height: 24px;
    transition: all 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kurs__list-content-right a:hover {
    background: black;
    fill: white;
}

.border {
    border-top: 1px solid rgb(190, 184, 184);
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(190, 184, 184);
}



/* rocket kurs */

.rocket__kurs {
    margin-top: 120px;
}




/* block__types */

.block__types {
    margin-top: 80px;
    margin-bottom: 115px;
}

.block__types-blocks {
    display: flex;
    align-items: center;
}

.block__types-info {
    margin-right: 24px;
}

.block__types-items {
    border-radius: 20px;
    padding: 36px 64px 36px 36px;
    display: flex;
    justify-content: center;
}


.block__types-items:first-of-type {
    background: rgba(239, 178, 56, 0.116);
}

.block__types-items:last-of-type {
    background: rgba(1, 164, 36, 0.1);
    margin-left: 20px;
}

.block__types-title-yellow {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #ECB800;
}

.block__types-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    max-width: 406px;
    width: 100%;
    margin-top: 12px;
}

.left {
    max-width: 380px;
    width: 100%;
}

.block__types-items ul li {
    list-style: disc;
    margin-top: 6px;
}

.block__types-items ul li:first-of-type {
    margin-top: 20px;
}

.block__types-items ul li:last-of-type {
    margin-bottom: 40px;
}

.block__types-items ul {
    margin-left: 20px;
}

.block__types-link {
    padding: 14px 28px;
    background: #009F49;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
}


.block__types-title-green {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #009F49;
}

.block__types-link-yellow {
    background: #ECB800;
    padding: 14px 28px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
}


.block__types-items img {
    max-width: 60px;
    width: 100%;
}



/* *********************** */

/* about as Page */


.about__head-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--blue);
    width: 580px;
    letter-spacing: -0.02em;
}


.about__us-slider {
    display: flex;
    margin-top: 35px;
}

.chevron {
    position: absolute;
    border: 1px solid black;
    padding: 10px 14px;
    border-radius: 60px;
    cursor: pointer;
    transition: all 500ms;
}

.slider__chevron-left {
    right: 100px;
    top: -100px;
}

.slider__chevron-right {
    right: 50px;
    top: -100px;
}

.about__us-img {
    margin-left: 20px;
    border-radius: 12px !important;

}

.slider__img-about {
    width: 100% !important;
    max-height: 450px;
    height: 100%;
    border-radius: 12px;
    margin-left: 20px;
}



.chevron:hover {
    color: white;
    background: black;
}


/* bonus__content */

.bonus {
    margin-top: 115px;
    margin-bottom: 120px;

}

.bonus__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bonus__link {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    color: black;
    border: 1px solid black;
    padding: 12px 26px;
    border-radius: 8px;
    transition: all 500ms ease-out
}

.bonus__link:hover {
    background: black;
    color: white;
}

.bonus__content-blocks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    margin-top: 32px;
}



.bonus__content-items:first-of-type {
    background: url('../img/bonus-1.png') no-repeat center center /cover;
    grid-column: span 7;
}


.bonus__content-items:nth-of-type(2) {
    background: url('../img/bonus-2.png') no-repeat center center /cover;
    grid-column: span 5;
}

.bonus__content-items:nth-of-type(3) {
    background: url('../img/bonus-3.png') no-repeat center center /cover;
    grid-column: span 5;
}

.bonus__content-items:last-of-type {
    background: url('../img/bonus-4.png') no-repeat center center /cover;
    grid-column: span 7;
}

.bonus__content-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 24px 24px;
    height: 320px;
    border-radius: 12px;
}

.bonus__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    opacity: 0.5;
}

.bonus__text {
    font-size: 30px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    color: white;
    padding-top: 20px;

}

/* Mijozlar */

.mijozlar {
    margin-top: 133px;
}

.mijozlar__content-slider {
    display: flex;
    align-items: center;
    position: relative;
}

.mijozlar__content-items {
    min-height: 270px !important;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: rgba(10, 84, 196, 0.1);
    border-radius: 10px;
    padding: 30px 24px 24px 24px;
    margin-top: 34px;
    margin-left: 20px;

}

.mijozlar__content-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
}

.mijozlar__author {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #0A54C4;
}


/* Questions */

.questions {
    margin-bottom: 120px;
}

.questions__content-blocks {
    display: flex;
    background: #F8F8F8;
    border-radius: 10px;
    padding: 26px 0 26px 35px;
    margin-top: 14px;
    position: relative;
}



.questions__content-blocks:first-of-type {
    margin-top: 34px;
}

.questions__content-blocks:nth-of-type(3) {
    flex-direction: column;
    justify-content: center;
}

.together {
    display: flex;
    padding-bottom: 24px;
}

.questions__content-text {
    margin-left: 30px;
}

.questions__content-minus-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(85, 85, 85, 0.7);
    padding-top: 24px;
    width: 94%;

}


/* **************** */
/* connect page */

.map {
    margin-bottom: 80px;
}

.connect-h1 {
    width: 481px;
}

.map__content {
    margin-top: 44px;
}

.map__foot {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}



.map__foot-items {
    display: flex;
    align-items: center;
    margin-top: 11px;
    opacity: 0.5;
    transition: .5s;
}

.map__foot-items img {
    width: 20px;
}

.map__foot-items:hover {
    opacity: 1.2;
}

.map__foot-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 31px;
    margin-bottom: 20px;
    color: black;
}

.map__foot-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    opacity: 0.6;
    margin-bottom: 12px;
}

.map__foot-text-soc {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 11px;
    color: black;
}


.map__foot-column {
    display: flex;
    justify-content: space-between;
    width: 50%;
}






/* Media Start */

@media (max-width: 1472px) {
    .start__content {
        width: 100%;
    }

    .start__progress img {
        width: 90%;
    }

    .about__content-right img {
        width: 100%;
    }

    .lesson__left img {
        max-width: 672px;
        width: 90%;
    }


}

@media (max-width: 1471px) {
    .start__top-items:first-of-type::before {
        left: 63%;
    }

    .start__top-items:last-of-type::before {
        left: 13%;
    }

    .start__bottom-items:first-of-type::before {
        left: 300px;
    }

    .start__bottom-items:last-of-type::before {
        left: 20px;
    }

    .start__bottom-items:nth-of-type(2)::before {
        left: 150px;
    }

    .start__bottom-items {
        margin-left: 30px;
    }

    .start__progress img {
        width: 76%;
    }

    .rocket__bottom-items {
        margin-left: 15px;
    }

    .rocket__bottom-items:last-of-type:before {
        left: 42%;
    }

    .rocket__bottom-items:first-of-type:before {
        left: 39%;
    }

    .slick-dots {
        padding-top: 10px;
    }
}

@media (max-width: 1469px) {
    .start__progress img {
        width: 850px;
    }
}

@media(max-width: 1330px) {
    .start {
        display: none;
    }

    .rocket {
        display: none;
    }

    .rocket__kurs {
        display: none;
    }
}

@media (max-width: 1325px) {
    .start__bottom-items {
        width: 350px;
    }

    .start__bottom-items:first-of-type::before {
        left: 230px;
    }

    .start__bottom-items:last-of-type::before {
        left: 40px;
    }

    .start__bottom-items:nth-of-type(2)::before {
        left: 130px;
    }
}

@media(max-width:1200px) {
    .block__types-blocks {
        justify-content: center;
    }

    .block__types-items {
        max-width: 470px;
        max-height: 379px;
        width: 100%;
        height: 100%;
    }

    .block__types-li {
        padding-top: 20px;
    }

    .about {
        margin-top: 50px;
    }
}

@media (max-width: 1173px) {
    .start__bottom-items {
        width: 300px;
    }

    .start__bottom-items:first-of-type::before {
        left: 150px;
    }

    .start__bottom-items:last-of-type::before {
        left: 60px;
    }

    .start__bottom-items:nth-of-type(2)::before {
        left: 110px;
    }

}

@media (max-width: 1092px) {
    .start__progress img {
        width: 710px;
    }

    .start__bottom-items {
        width: 260px;
        margin-left: 20px;
    }

    .start__top-items {
        margin-left: 20px;
    }

    .start__top-items:first-of-type::before {
        left: 270px;
    }

    .start__top-items:last-of-type::before {
        left: 80px;
    }

    .start__bottom-items:first-of-type:before {
        left: 130px;
    }

    .start__bottom-items:nth-of-type(2)::before {
        left: 100px;
    }

    .rocket__bottom-items {
        margin-left: 15px;
    }

    .rocket__top-items {
        margin-bottom: 20px;
    }

    .rocket__top-items::before {
        left: 35%;
    }

    .rocket__bottom-items:last-of-type:before {
        left: 35%;
    }

    .rocket__bottom-items:first-of-type:before {
        left: 48%;
    }

    .kurs__main-left {
        margin-left: 50px;
        margin-right: 15px;
    }

    .main__head-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.02em;
        text-align: left;

    }

    .main__head-text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.01em;
        text-align: left;
    }

    .kurs__main-right img {
        max-width: 480px;
        max-height: 326px;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 992px) {



    .header__content-list {
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(55px);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 100vh;
        transform: translateY(-100%);
        transition: .3s;
    }

    .active {
        transform: translateY(0);
        height: 100%;
    }

    .header__content-block {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .header__content-links {
        margin-left: 0;
    }

    .header__content-lang {
        display: block;
        color: white;
        font-size: 35px;
    }

    .header__content-p {
        display: none;
    }

    .header__close {
        width: 100%;
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
    }

    .header__close-icon {
        opacity: 1;
        font-size: 35px;
        color: white;
    }

    .header__content-links {
        margin-bottom: 18px;
        display: inline-block;
        font-size: 24px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 35px;
        height: 30px;
    }

    .header__burger-line:first-of-type {
        position: absolute;
        top: 0;
        right: 3px;
        width: 70%;
        height: 3px;
        background: white;
    }

    .header__burger-line:nth-of-type(2) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 100%;
        height: 3px;
        background: white;
    }

    .header__burger-line-black {
        background: black !important;
    }

    .kurs__header__content-links,
    .kurs__header__content-p {
        color: white;
        margin-bottom: 10px;
    }

    .kurs__header__content {
        display: block;
        margin-bottom: 20px;
    }

    .header__burger-line:last-of-type {
        position: absolute;
        bottom: 0;
        left: 3px;
        width: 70%;
        height: 3px;
        background: white;
    }

    .lesson__title {
        font-size: 24px;
    }

    .lesson__content-item {
        justify-content: space-around;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__content-blocks {
        flex-wrap: wrap;
        margin-left: 0;
    }

    .footer__content-logo {
        display: flex;
        justify-content: space-between;
    }

    .footer__logo-title {
        display: none;
    }


    .main__head-text {
        width: 80%;
    }

    .lesson__right {
        padding-left: 30px;
    }

    .mijozlar__content-items {
        min-height: 350px !important;
        height: 100% !important;
    }

}

@media (max-width: 890px) {
    .form__inputs {
        flex-direction: column;
        margin-top: 20px;
    }

    .form__inputs-first {
        width: 100%;
    }

    .form__inputs-second {
        width: 100%;
        margin-left: 0;
    }

    .form__btn {
        margin: 0;
        margin-top: 20px;
    }

    .map__foot-column {
        flex-direction: column;
        width: 30%;
    }

    .bonus__link {
        display: none;
    }

    .block {
        display: inline !important;
    }

    .bonus__link-media {
        margin: 0 auto;
        text-align: center;
    }

    .h2__logo-index {
        display: none;
    }

    .respons {
        display: block !important;

    }

    .about__content {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .about__content-left {
        margin: 0 auto;
        text-align: center;
    }

    .about__content-block {
        justify-content: center;
    }

    .block__types-blocks {
        flex-direction: column;
    }

    .block__types-items {
        margin-top: 20px;
    }
}


@media(max-width:830px) {
    .kurs__main-head {
        flex-direction: column-reverse;
        align-items: center;
    }

    .kurs__main-right img {
        width: 100%;
        height: 100%;
        margin-bottom: 26px;
    }

}

@media(max-width:800px) {
    .slider__img-about {
        margin-left: 0;
        padding-right: 15px;
    }
}

@media(max-width:750px) {
    .lesson__content-item {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 100%;
    }

    .lesson__right {
        width: 100%;
        padding-bottom: 100px;
    }

    .lesson__left {
        max-width: none;
    }

    .lesson__text {
        width: 100%;
    }

    .slick-dots {
        bottom: 30px !important;
    }



    .header__content-video {
        height: 100%;
    }

    .header {
        height: 100% !important;
        padding-top: 83px;
    }
}

@media(max-width:800px) {
    .bonus__content-blocks {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:700px) {

    .lesson__left img {
        width: 80%;
    }

    .about {
        margin-top: 20px;
    }

    .main {
        margin-top: 0;
    }

    .lesson__content-item {
        max-width: 566px;
        max-height: 600px;
        width: 100%;
        height: 100%;
    }

    .slick-dots {
        padding-bottom: 0 !important;
        bottom: 0 !important;
    }

    .lesson__right {
        padding-bottom: 100px;
        padding-top: 30px;
    }



    .about__content-items {
        margin-left: 10px !important;
    }

    .about__content-left {
        width: 100%;
    }

    .about__content-number {
        font-size: 24px;
        text-align: center;
    }

    .about__content-items:first-of-type {
        margin-right: 10px;
    }
}

@media(max-width:600px) {
    .mijozlar__content-items {
        min-height: 200px !important;
        min-width: 300px !important;
    }

    .questions__content-blocks {
        align-items: center;
    }

    .text-style {
        font-size: 22px !important;
    }
}

@media(max-width:560px) {
    .kurs__list-btns {
        display: inline-block;
    }

    .kurs__list-btn:first-of-type {
        margin-bottom: 20px;
    }

    .kurs__list-btn {
        margin-left: 0;
    }

    .block__types-info img {
        width: 40px;
        height: 40px;
    }

    .block__types-title-green {
        font-size: 24px;
    }

    .block__types-title-yellow {
        font-size: 24px;
    }

    .bonus__text {
        font-size: 18px;
        line-height: 26px;
    }

    .main__form-img-second {
        width: 100px;
        right: 0;
        top: 70%;
    }

    .main__form-img-first {
        width: 100px;
        left: 0%;
        top: 0;
    }

    .w-100 {
        width: 100% !important;
    }
}

@media(max-width:500px) {

    .slider__chevron-head {
        top: -120px !important;
    }

    .slider__chevron-head {
        top: -120px !important;
    }

    .slider__chevron-left {
        right: 50px;
        top: -80px;
    }

    .slider__chevron-right {
        right: 0;
        top: -80px;
    }

    .map__foot {
        flex-direction: column;
    }

    .map__foot-column {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

@media(max-width:420px) {
    .block__types-text {
        width: 130%;
    }

}

@media(max-width:400px) {
    .lesson__content-item {
        height: 500px;
    }

    .slick-dots {
        left: 40px !important;
    }

    .about__content-items {
        margin-left: 10px;
    }



    .lesson__left img {
        width: 70%;
        height: 100%;
    }

    .footer__content-info:last-of-type {
        padding-bottom: 20px;
    }

    .kurs__main-left {
        margin-left: 0;
    }

    .block__types-items:last-of-type {
        margin-left: 0;
    }
}

/* Media end */
/* *************************** */